{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'distros/main.css' %}">
  <title>FOOD STAND!</title>
</head>
<body>
  <div class="container">
    <section class="home-logo">
      <h1>Food Stand!</h1>
      <img src="{% static 'images/Food_Not_Bombs_(emblem).png/' %}" class='img-fluid' alt='Food Stand!' min-width="50%"
        height='30px'>
    </section>
    
    <div class="home-buttons">
      <a href='{% url 'distros-home' %}' class="btn btn-primary btn-lg" role="button"
        aria-disabled="true">I'm Hungry</a>
      <small class="text-muted">(I am looking for food resources.)</small>
      <a href='{% url 'register' %}' class="btn btn-primary btn-lg" role="button" aria-disabled="true">I'm Full</a>
      <small class="text-muted">(I have food resources to share.)</small>
    </div>
    <div class='border-top pt-3'>
    <small class='text-muted'>Already Registered? <a class='ml-2' href='{% url 'login' %}'>Login</a></small>
    </div>
  </div>
</body>
</html>