html {
}

body {
  background: #fafafa;
  color: #470A1F;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #470A1F;
  font-family: 'Special Elite',
  cursive;
}

.img-fluid {
  display: flex;
  width: 100%;
  height: auto;
  justify-items: center;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #FA16B4;
}

.site-header .navbar-nav .nav-link {
  color: white;
}

.site-header .navbar-nav .nav-link:hover {
  color: #470A1F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand{
  display: flex;  
  font-family: 'Special Elite',
  cursive; 
  color: #FA16B4;
  font-size: 2em;
}

.home-logo {
  width: 100%;
  margin-top: -4rem;
}

.home-logo > h1 {
  display: flex;
  font-family: 'Special Elite',
  cursive;
  color: #470A1F;
  font-size: 3em;
  justify-content: center;
  margin: 0;
}

.home-buttons {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.text-muted{
  display:flex;
  overflow: none;
  width: 100%;
  justify-content: center;
}

.btn.btn-primary.btn-lg {
  display: flex;
  background: #556941;
  justify-content: center;
  margin: 10px 0 5px 0px;
}

.btn.btn-primary.btn-lg:active {
  background: #FA16B4;
  justify-self: center;
}

.btn-primary{
  border-color: #556941;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #FA16B4;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.h2-message > h2{
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: .8em;
}